.checkout__container {
  display: flex;
  /* align-items: center;s */
}

.checkout__banner {
  width: 100%;
  object-fit: contain;
}

.checkout__header {
  margin: 10px 20px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: grey;
  margin: 20px 10px;
}
