.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 5px 20px;
  gap: 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__image {
  width: 100px;
  height: 50px;
  object-fit: contain;
  margin-top: 10px;
  cursor: pointer;
}

.header__search {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px; /* height  */
  overflow: hidden;
  min-width: 200px;
  border-radius: 5px;
}

.header__searchInput {
  /* height: 12px; */
  height: 100%;
  font-size: 16px;
  outline: none;
  padding: 0 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  background-color: #cd9042;
  /* height: 22px; */
  height: 100%;
  padding: 10px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.header__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.header__option {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__basketIcon {
  margin-right: 3px;
}

/* @media screen and (max-width: 650px) {
  .header__link {
    display: none;
  }
  .header__linkBasket {
    display: block;
  }
} */

.header__Logout {
  width: 300px;
  height: 70px;
  background-color: #f1f1f5;
  color: #2e81f4;
  border-radius: 5px;
  position: absolute;
  top: 45px;
  left: 0px;
  padding: 40px 20px;
  display: none;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__Logout.show {
  display: block;
}

.header__Logout > .button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.header__Logout > .button:hover > p {
  color: #2e81f4;
  cursor: pointer;
}

.header__Logout > .button > .icon {
  color: black;
}
.header__Logout > .button > p {
  font-weight: 500;
  color: black;
}

.icon__cancel {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  color: black;
}

.icon__cancel:hover {
  color: blue;
}
